/* INDEX */
body{
    background-color: #2756ff18;
}
nav{
    background-color:#a3f3d84c;
    position: sticky;
    top: 0;
    height: 200px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 150px;
}
.lista-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-menu{
    color: blueviolet;
    margin: 10px;
    padding: 5px;
}
.item{
    border-style:groove;
    border-width: 5px;
    border-color: #86be7b;
    background-color: #86be7b76;
    list-style: none;
    text-decoration: none;
}
.item:hover{
    background-color: #4b993c77;
    border-color: #64bb52;   
}



.header-main{
    margin-top: 50px;
    height: 313px;
    width: 100%;
    background-image: url(../img/hotizontal\ dos\ partes.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.header-main-textos{
    padding-top: 50px;
    padding-left: 15px;
    position: center;
}
.titulo-header{
    font-family: 'Playfair Display', serif;
    font-size:xx-large;
}
.parrafo-header{
    font-family: 'Oswald', sans-serif;
    font-size: small;
    color:#9f9f9f;
}



.contenedor-grl-main{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    padding: 5px;
    background-color:#faebd7b3;
}
.cont-h3yp{
    font-family: 'Oswald', sans-serif;
}
.cont-grl-list{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.cont-2listas{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.li-princ{
    list-style: square;
    list-style-position: outside;
}
.liles{
    list-style-position: inside;
}



.main-boxes{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    align-items: center;
}
.myv{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.tit-myv{
    border-style:inset;
    border-width: 5px;
    border-color:#2756ff;
    padding: 15px 45px;
    background-color: #717171;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
.p-myv{
    border-style:outset;
    border-width: 5px;
    padding: 15px 150px;
    border-color:#2756ff;
    background-color: #717171;
    color: #ffffff;
    border
    font-size: 10px;
    text-align: center;
}




.foot-main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.boton-subir{
    width: 50px;
    height: 50px;
}




/* SOBRE NOSOTROS */
.header-sn{
    text-align: center;
}
.h1-sn{
    color: #3051c8;
    font-style: oblique;
    text-decoration:underline;
    margin-left: 10px;
}
.p-sn{
    border: 5px #8080807c;
    background-color: #8080807c;
    width: 500px;
}
.p1-sn{
    margin-left: 140px;
    margin-top: 5px;
    padding: 30px;
}
.p2-sn{
    margin-top: 70px;
    margin-left: 60%;
    margin-right: 5px;
    padding: 30px;
}
.p3-sn{
    margin-top: 30px;
    padding: 30px;

}
.p-sn{
    font-family:'Courier New', Courier, monospace;
}



/* GALERIA */
.imagenes-g{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
}
.imagen-g{

}
.img-g{
    height: 300px;
    width: 300px;
}
.img-g:hover{
    translate: center;
    transform: scale(2);
}
.p-g{
    font-size:xx-small;
}


/* LOCALIDAD */
.div-img-arr{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-arroyo{
    height: 550px;
    width: 950px;
}
.p-arroyo{
    position: absolute;
    padding: 30px 70px;
    background-color: #a1a1a1de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.div-map{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
iframe{
}
.mapa-p{
    margin-left: 30px;
    margin-top: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}
.h2-l{
    text-align: right;
    margin-right: 15px;
}
.p-l{
    text-align: right;
    margin-right: 45px;
    font-family::'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* CONTACTO */
.img-tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    margin: 10px;
}
.h2-c{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    margin-left: 15px;
    margin-top: 15px;
}
.formulario{
    padding: 10px;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
}




