@media screen and (max-width: 1024px) {
    /* index */
    .header-main{
        background-image: none;
    }
    .header-main-textos{
        text-align: center;
    }

}


@media screen and (max-width: 768px) {
    /* index */
    .contenedor-grl-main{
        flex-direction: column;
    }
    
    /* galeria */
    .imagenes-g{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* localidad */
    .img-arroyo{
        width: 100%;
        height: 100%;
    }
    .div-map{
        margin-top: 1$mar-top-50*2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mapa-p{
        margin: 0;
    }
    .h2-l{
        text-align: right;
        margin: 0;
    }
    .p-l{
        margin: 0;
    
}
.if-m{
    width: 100%;
    height: 100%;
}

/* contacto */
.img-tarjetas{
    flex-direction: column;
    justify-content: center;
}

}