.bc-sn{
    background: linear-gradient(0deg, rgba(39,86,255,0.30034716523328087) 0%, rgba(163,243,216,0.30034716523328087) 100%);
}
.header-sn{
    text-align: center;
}
.h1-sn{
    color: #3051c8;
    font-style: oblique;
    text-decoration:underline;
    margin-left: 10px;
}
.p-sn{
    font-family:'Courier New', Courier, monospace;
    margin-top: $mar-top-50;
}
.p-sn-c{
    background-color: #8080807c;
    padding: $padd-15;
}
